@use "./variables" as vars;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: vars.$background;
  color: vars.$text;
  font-family: vars.$body-font-family;
}

button,
input,
textarea,
span {
  font: inherit;
  color: vars.$text;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-family: vars.$heading-font-family;
}

h1 {
  font-weight: vars.$heading-weight-h1;
  font-size: 2rem;
}

button {
  cursor: pointer;
  background: transparent;
}

@media (max-width: 600px) {
  button {
    width: 100%;
  }
}
