@use "../../styles/mixins" as mixins;

.card {
  @include mixins.card;
  @include mixins.transition;
  @include mixins.flex-center;
  gap: 1rem;
  padding: 24px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.98);
  }
}
