@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as vars;

.back {
  @include mixins.buttons;
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  color: vars.$text-soft;
}

@media (max-width: 576px) {
  .back {
    width: 100%;
  }
}
