@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.container {
  @include mixins.flex-center;
  min-height: 100vh;
  padding: 24px;
}

.content {
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.title {
  @include mixins.flex-center;
  gap: 2rem;
  font-size: 38px;
  margin-bottom: 12px;
}

.subtitle {
  color: vars.$text-soft;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 24px;
}
