@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.player {
  @include mixins.align-items-center;
  gap: 1rem;
}

.button {
  @include mixins.flex-center;
  border: none;
  
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}
