@use "../../styles/mixins" as mixins;

.container {
  @include mixins.page-container;
}

.content {
  width: 100%;
  text-align: center;
}

.title {
  line-height: 1.5;
  margin-bottom: 16px;
  width: 100%;
}

.subtitle {
  @include mixins.calm-text;
  margin-bottom: 32px;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  max-width: 420px;

  .card {
    @include mixins.flex-center-column;
  }
}
