@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.button {
  @include mixins.flex-center;
  gap: 2rem;
  width: 100%;
  padding: 24px;
  border: none;
  border-radius: vars.$radius-lg;
  background: vars.$primary;
  color: vars.$text;
  font-size: 22px;
  cursor: pointer;
  box-shadow: vars.$shadow-soft;
  transition: vars.$transition;

  &:hover {
    background: vars.$primary-hover;
    transform: translateY(-2px);
  }
}
