@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as vars;


.container {
  @include mixins.page-container;
  position: relative;
  overflow: hidden;
}

.content {
  @include mixins.flex-center-column;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.subtitle {
  @include mixins.calm-text;
  margin-bottom: 50px;
}

.back {
  @include mixins.flex-center;
  @include mixins.buttons;
  gap: 1rem;
  margin-top: 50px;
  color: vars.$text-soft;
}
