@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as vars;
@use "../../styles/backgrounds" as backgrounds;

.container {
  @include mixins.page-container;
  @include backgrounds.calm-background;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content {
  @include mixins.flex-center-column;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  @include mixins.calm-text;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    align-items: unset;
  }
}
